body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("back.JPG");
    background-size: cover;
}

.game-object {
    position: absolute;
}

#player {
    width: 100px;
    height: 100px;
    background: url("finche.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#fish {
    width: 50px;
    height: 50px;
    background: url("fish.png");
    background-size: contain;
    background-repeat: no-repeat;
}