.nav{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
  }

button{
    margin: 5px 5px;
}

a{
    margin: 10px;
    padding: 0 10px;
  }


table{
    border: 3px solid green;
    min-width: 500px;
    max-width: 800px;
    width: 850px;
    margin: 0 auto;
  }

h1{
    color: rgb(214, 183, 80);
    font-size: 100px;
}
.bg_color{
    width: 100%;
    height: 100vh;
    background-color: rgba(44, 44, 43, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bg_incolor{
    width: 80%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    margin: 60px auto;
    display: inline-block;
    border-radius: 20px;
}

h4{
    cursor: pointer;
}

/* .startTransition{
    opacity: 0;
    transition: all 1s;
}
.endTransition{
    opacity: 1;
} */

/* 등장 애니메이션 세트*/
.modalTransition-enter-from {
    opacity: 0;
}
.modalTransition-enter-active {
    transition: all 2s;
}
.modalTransition-enter-to {
    opacity: 1;
}

/* 퇴장 애니메이션 */
.modalTransition-leave-from {
    opacity: 1;
}
.modalTransition-leave-active {
    transition: all 2s;
}
.modalTransition-leave-to {
    opacity: 0;
}

.discount {
    border-radius: 5px;
    background: rgb(250, 250, 210);
    padding: 20px;
    margin: 10px;
    font-size: x-large;
    color: rgb(37, 0, 247);
    box-shadow: 2px 2px 2px 2px rgba(223, 223, 223, 0.582);
}